asgiref==3.8.1
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1729036581634/work
contourpy==1.3.2
cycler==0.12.1
Django==5.2.2
fonttools==4.58.4
joblib==1.5.1
kiwisolver==1.4.8
Markdown @ file:///C:/b/abs_f9hbi7znfr/croot/markdown_1746114643651/work
matplotlib==3.10.3
numpy==2.3.1
packaging==25.0
pillow==11.2.1
pyparsing==3.2.3
pypng @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pypng_1729062381182/work
python-dateutil==2.9.0.post0
qrcode @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/qrcode_1729099740493/work
scikit-learn==1.7.0
scipy==1.16.0
setuptools==78.1.1
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata==2025.2
wheel==0.45.1
